LLM1_ENDPOINT=https://api.deepseek.com/chat/completions
LLM2_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/models/
#LLM2_ENDPOINT=http://localhost:11434/v1/chat/completions (if you're locally running ollama)

LLM1_API_KEY=sk-peepeepoopoo
LLM2_API_KEY=madeupfakekey

LLM1_MODEL=deepseek-chat
LLM2_MODEL=gemini-2.0-pro-exp-02-05
#LLM2_MODEL=nchapman/dolphin3.0-llama3:3b (just a random model from: https://ollama.com/search )